;;;
"title": "HYFN8 - Our Features"
;;;

<%= partial 'layouts/demo_form'  %>
<%= partial 'layouts/header'  %>


<nav id="services_mobile_nav">
  <table>
    <tr>
      <td><a href="#" class="prev_service"></a></td>
      <td class="nav_items"></td>
      <td><a href="#" class="next_service"></a></td>
    </tr>
  </table>
</nav>

<section id="carousel" class="services">
  <h2 class="carousel_header">Smart. Easy. Powerful.</h2>
  <p class="carousel_subtitle">
    Groundbreaking technology meets an unwavering focus on end goals. Backed by a digital agency that’s nice to have in your corner.
  </p>
  <img src="/img/services_bar_graph.png" />
</section>

<section id="services_nav">
  <table>
    <tr>
        <td class="first-child"><a href="#listen">Listen</a></td>
        <td><a href="#create">Create</a></td>
        <td><a href="#enhance">Enhance</a></td>
        <td><a href="#track">Track Goals</a></td>
        <td><a href="#collaborate">Collaborate</a></td>
        <td class="last-child"><a href="#engage">Engage Fans</a></td>
    </tr>
  </table>
</section>

<!-- LISTEN SECTION -->
<section id="services_listen" class="service_section">
  <a name="listen"></a>
  <img class="mobile_header" src="/img/services/mobile/listen_header.png" />

  <div id="listen" class="services_main">
    <h2>Listen Before You Do</h2>
    <p>
      Everybody likes a good listener. Considering the positive and negative ripples that consumers can swiftly generate across the digital space, it’s critical to have the tools to make sense of what exactly they’re saying.
    </p>

    <a class="learn_more" id="listen_more" href="#listen">Learn More <b class="blue_right_arrow"></b></a>
  </div>

  <div class="flipping_card odd">
    <div id="social_listen" class="card social">
      <div class="card_wrapper">
        <table>
          <tr>
            <td class="current_page">Social Listening</td>
            <td id="to_web_listen" class="card_label">Broad Web Listening</td>
          </tr>
        </table>

        <img class="close_card_btn close_right" src="/img/contact_form_close.png">

        <div class="card_content">

          <h4>Stay in Tune</h4>
          <p>
            Social is a two-way conversation that never stops. It can get away from you in a hurry without the right system to digest the constant avalanche of information.
            <br /><br />
            HYFN8’s powerful social listener allows you to target your relevant audiences on Facebook and Twitter and get a detailed breakdown of what they’re posting about your brand, competitors and industry. This includes sentiment analysis of topic categories and adjectives as well as posting trends and top influencers.
            <div>
              <button class="request_button_blue">Request a Demo</button>
            </div>
          </p>
        </div>
      </div>
    </div>

    <div id="space_listen" class="card space">
      <div class="card_wrapper">
        <table>
          <tr>
            <td id="to_social_listen" class="back_card_label">Social Listening</td>
            <td class="current_page">Broad Web Listening</td>
          </tr>
        </table>

        <img class="close_card_btn close_right" src="/img/contact_form_close.png">

        <div class="card_content">
          <h4>See the Big Picture</h4>
          <p>
            While navigating Facebook’s incomparable influence commands attention, efforts should not stop there. Blogs, forums and micro-communities are ripe for engagement with their passionate and active social participants.
            <br /><br />
            Selecting the Entire Web option in HYFN8’s social listener will get you the big picture of all the talk about your brand. Or type in whatever you’d like into the primary and secondary search terms and view high-level analytics, sources and demographics.
          </p>

          <button class="request_button_blue">Request a Demo</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- CREATE SECTION -->
<section id="services_create" class="service_section text_left">
  <a name="create"></a>
  <img class="mobile_header" src="/img/services/mobile/create_header.png" />

  <div class="flipping_card even">
    <!-- EFFECTIVE ADS CARD -->
    <div id="create_effective_ads" class="card">
      <table class="create">
        <tr>
          <td class="current_page create">Effective Ads</td>
          <td class="card_label create apps">Useful Apps</td>
          <td class="card_label create posts">Engaging Posts</td>
        </tr>
      </table>

      <img class="close_card_btn_create close_left" src="/img/contact_form_close.png">

      <div class="create_card_content">
        <h4>Right Ads for the Right People</h4>
        <p>
          HYFN8’s proprietary technology merges social listening with the Facebook Ads API to drive up ROI. Providing actionable insights and locking in on the target audiences and similar ones, HYFN8 enables you to easily create more effective Facebook campaigns without having to leave the platform.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>

    <!-- USEFUL APPS CARD -->
    <div id="create_useful_apps" class="card">
      <table class="create">
        <tr>
          <td class="card_label create ads">Effective Ads</td>
          <td class="current_page create">Useful Apps</td>
          <td class="card_label create posts">Engaging Posts</td>
        </tr>
      </table>

      <img class="close_card_btn_create close_left" src="/img/contact_form_close.png">

      <div class="create_card_content">
        <h4>Custom Apps Without Coding</h4>
        <p>
          It helps to have one of the industry’s top digital agencies as your engine. HYFN develops custom social, mobile and web applications for some of the biggest brands in the world. No surprise that HYFN8 allows you to build beautiful apps tailored to the insights you’re getting from the platform on the fly.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>

    <!-- ENGAGING POSTS CARD -->
    <div id="create_engaging_posts" class="card">
      <table class="create">
        <tr>
          <td class="card_label create ads">Effective Ads</td>
          <td class="card_label create apps">Useful Apps</td>
          <td class="current_page create">Engaging Posts</td>
        </tr>
      </table>

      <img class="close_card_btn_create close_left" src="/img/contact_form_close.png">

      <div class="create_card_content">

        <h4>Post with Perspective and Pizzazz</h4>
        <p>
          Getting lost in the shuffle or tuned out by consumers is a hazard in the minute-to-minute flood of social content. HYFN8 makes posting intelligently as easy as possible with recommendations, scheduling, translating and targeting, moderation and promotion, and a real-time content calendar all in one place.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>
  </div>


  <!-- MUST BE LAST TO MOVE THE CORRECT DIRECTION -->
  <div id="create" class="services_main">
    <h2 class="left pad_top">Create Something Worth Creating</h2>
    <p class="left">
      Build it and they will come, right? Not so simple anymore with today’s fragmented media and attention spans. Engaging, relevant content that ties directly into your end goals starts with an intelligent strategy. HYFN8 helps illuminate the best paths and take you down them.
    </p>

    <a class="learn_more left" href="#create">Learn More <b class="blue_right_arrow"></b></a>
  </div>

</section>

<!-- ENHANCE SECTION -->
<section id="services_enhance" class="service_section text_left">
  <a name="enhance"></a>
  <img class="mobile_header" src="/img/services/mobile/enhance_header.png" />

  <div id="enhance" class="services_main">
    <h2 class="left pad_top">Recommendations to Raise ROI</h2>
    <p class="left">
      No one said you had to do all this alone. HYFN8 features a powerful recommendations engine that gets smarter the more you use the platform. This means constant guidance based on your KPIs, such as peak times to post for maximum reach, most efficient ad campaigns, and types of posts that draw the most engagement. We also provide a dedicated account manager to complement the analysis with a human element.
    </p>

    <a class="learn_more left" id="enhance_more" href="#enhance">Learn More <b class="blue_right_arrow"></b></a>

  </div>

  <div class="flipping_card odd">
    <!-- PROMOTE CARD -->
    <div id="enhance_promote" class="enhance_card odd">

      <img class="close_card_btn_enhance close_right push_right" id="promote" src="/img/contact_form_close.png">

      <div class="enhance_card_content pad_top">
        <h4>Amplify Media Spend</h4>
        <p>
          HYFN8 closes the loop among paid, owned and earned media to get the most out of your ad spending budgets. Armed with the recommendations engine and a user interface that highlights the most successful posts, you can promote any one of them on the spot with the click of a button.
        </p>
        <div>
          <button class="request_button_blue">Request a Demo</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TRACK SECTION -->
<section id="services_track" class="service_section">
  <a name="track"></a>
  <img class="mobile_header" src="/img/services/mobile/track_header.png" />

  <div class="flipping_card even">

    <!-- CUSTOM GOALS CARD -->
    <div id="track_custom_goals" class="card social">
      <table>
        <tr>
          <td class="current_page">Custom Goals</td>
          <td id="to_web_track" class="card_label">Analytics & Reports</td>
        </tr>
      </table>

      <img class="close_card_btn close_left" src="/img/contact_form_close.png">

      <div class="card_content track">

        <h4 class="track_goals ">Relative to the Objective</h4>
        <p class="track_goals ">
          HYFN8 keeps all your actions within close sight of the KPIs that you choose. These real-time metrics appear in blocks, so you can fully customize your dashboard and section views. Create as many blocks as you want based on page, post and ad analytics. You also can select to benchmark against past performance or your other properties.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>

    <div id="track_analytics" class="card space">
      <table>
        <tr>
          <td class="back_card_label">Custom Goals</td>
          <td class="current_page">Analytics & Reports</td>
        </tr>
      </table>

      <img class="close_card_btn close_left" src="/img/contact_form_close.png">

      <div class="card_content">

        <h4>Numbers Made Easy and Pretty</h4>
        <p>
          Reporting doesn’t get easier than choosing what matters to you and clicking a button. HYFN8 centralizes all your analytics in one place, so you’re not logging into Google Analytics one minute and then Facebook Insights the next. The sleek graphs illustrate the latest progress with your KPIs, which can be easily changed anytime to save various versions of reports in the system.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>
  </div>


  <div id="track" class="services_main">
    <h2>Set, Track and Achieve Your Goals</h2>
    <p>
      Nifty features and graphics don’t mean anything without context. HYFN8’s advanced technology and user experience are singularly focused on the only thing that matters -- your goals. Define, measure and reach. HYFN8 will be there every step of the way.
    </p>

    <a class="learn_more" href="#">Learn More <b class="blue_right_arrow"></b></a>
  </div>
</section>

<!-- COLLABORATE SECTION -->
<section id="services_collaborate" class="service_section">
  <a name="collaborate"></a>
  <img class="mobile_header" src="/img/services/mobile/collaborate_header.png" />

  <div id="collaborate" class="services_main">
    <h2>Collaborate Seamlessly</h2>
    <p>
      Lots of moving parts hustling at digital speed necessitates sharp internal coordination. Staying on the same page with your teammates is easy within HYFN8’s communication system.
    </p>
    <a class="learn_more" id="collaborate_more" href="#">Learn More <b class="blue_right_arrow"></b></a>
  </div>

  <!-- CHAT CARD -->
  <div class="flipping_card odd">
    <div id="collaborate_chat" class="card social">
      <table>
        <tr>
          <td class="current_page">Chat</td>
          <td class="card_label">Messages & Tasks</td>
        </tr>
      </table>

      <img class="close_card_btn close_right" src="/img/contact_form_close.png">

      <div class="card_content">

        <h4>Use Your Words</h4>
        <p>
          HYFN8 includes an instant messaging feature that allows team members to chat in real time, create groups and dig up history -- all without leaving the platform.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>

    <!-- MESSAGES & TASKS CARD -->
    <div id="collaborate_messages" class="card space">
      <table>
        <tr>
          <td class="back_card_label">Chat</td>
          <td class="current_page">Messages & Tasks</td>
        </tr>
      </table>

      <img class="close_card_btn close_right" src="/img/contact_form_close.png">

      <div class="card_content">

        <h4>Communicate and Complete</h4>
        <p>
          Mirroring your administrative tiers and workflow, team members can send emails and assign tasks to organize projects and track outstanding items.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>
  </div>
</section>

<!-- ENGAGE SECTION -->
<section id="services_engage" class="service_section">
  <a name="engage"></a>
  <img class="mobile_header" src="/img/services/mobile/engage_header.png" />

  <div class="flipping_card even">

    <!-- GET PERSONAL CARD -->
    <div id="engage_personal" class="card">
      <table>
        <tr>
          <td class="current_page">Get Personal</td>
          <td class="card_label">Post Smart</td>
        </tr>
      </table>

      <img class="close_card_btn close_left" src="/img/contact_form_close.png">

      <div class="card_content">
        <h4>Build a One-to-One Relationship</h4>
        <p>
          The powerful and scary thing about social is it gives everyone a voice. Fortunately we have the technology to harness this immense potential for engagement. HYFN8 generates a list of top influencers and what they’re saying about your brand. Then you can reach out directly to respond in kind and form the type of relationship that affects the bottom line.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>

    <!-- POST SMART CARD -->
    <div id="engage_post" class="card">
       <table>
        <tr>
          <td class="back_card_label">Get Personal</td>
          <td class="current_page">Post Smart</td>
        </tr>
      </table>

      <img class="close_card_btn close_left" src="/img/contact_form_close.png">

      <div class="card_content">
        <h4>Timing Is Everything</h4>
        <p>
          As important as what you say is when you say it and how often. Deciphering user patterns to determine the optimal days and times to post content can be a logistical challenge when managing multiple brands with multiple social properties and corresponding audiences. HYFN8 eliminates that headache with its recommendations engine, which suggests the best times to post for maximum reach and engagement.
        </p>

        <button class="request_button_blue">Request a Demo</button>
      </div>
    </div>
  </div>

  <div id="engage" class="services_main engage">
    <h2>Engage Those Who Care</h2>
    <p class="engage_text">
      Working so hard to build an audience doesn’t make much sense if you don’t know what to do with it. HYFN8 provides a mechanism for directly engaging those people who just might turn into your most valuable brand advocates.
    </p>
    <a class="learn_more" href="#">Learn More <b class="blue_right_arrow"></b></a>
  </div>
</section>

<%= partial 'layouts/footer' %>

<% content_for :content_for_bottom do %>
    <%= javascript_include_tag "features.js" %>
    <%= javascript_include_tag "home.js" %>
<% end %>
